name: Build EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install pdfplumber pyinstaller

      - name: Build EXE
        run: pyinstaller --onefile buscador_pdf.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: buscador_pdf_exe
          path: dist/buscador_pdf.exe

